@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");
:root {
  /* colors */
  --primary-tint80: #e2d5d5;
  --primary-tint60: #c6abaa;
  --primary-tint40: #a98280;
  --primary-tint20: #8d5855;
  --primary: #702e2b;
  --primary-shade20: #5a2522;
  --primary-shade40: #431c1a;
  --primary-shade60: #2d1211;
  --primary-shade80: #160909;

  /* grey */
  --grey-lightest: #f8f9fa;
  --grey-lighter: #e9ecef;
  --grey-light: #dee2e6;
  --grey-medium-light: #ced4da;
  --grey-medium: #adb5bd;
  --grey-dark: #6c757d;
  --grey-darker: #495057;
  --grey-darkest: #343a40;
  --grey-almost-black: #212529;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --yellow-lighter: #ffdb64;
  --yellow: #c79450;
  --yellow-darker: #a5691c;

  /* fonts  */
  --headingFont: "Poppins", sans-serif;
  --bodyFont: "Poppins", sans-serif;
  --xsText: 1rem;
  --sText: 1.2rem;
  --mText: 1.8rem;
  --lText: 2.4rem;
  --xlText: 3.6rem;
  --xxlText: 4.2rem;
  --fontColor: var(--black);
  --fontWhite: var(--grey-lightest);

  /* White spacing */
  --xsSpacing: 0.8rem;
  --sSpacing: 1.6rem;
  --mSpacing: 3rem;
  --lSpacing: 4.2rem;
  --xlSpacing: 6rem;
  --xxlSpacing: 10rem;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* transition */
  --mainTransition: all 0.3s linear;

  /* QUERIES */
  /* BASE - 600px */
}
/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--mainTransition);
  font-family: var(--headingFont);
}

html {
  font-size: 62.5%;
  color: var(--fontColor);
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: var(--headingFont);
  color: var(--primary);
}

h1 {
  font-size: var(--xxlText);
  font-weight: 300;
  text-align: center;
}

p {
  font-family: var(--bodyFont);
  font-size: var(--mText);
}

/* JS */
.hide-element {
  display: none !important;
}

/* REUSABLE */
/* LAYOUTS */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-column-align-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* OTHER */
.section-wp {
  padding: 6rem 6rem;
}
.m-line-height {
  line-height: 1.5;
}

.l-line-height {
  line-height: 2;
}

/* LANDING PAGE STYLES STARTS HERE */

/* HEADER */
header {
  padding-right: 12rem;
  padding-left: 3rem;
  height: 12rem;
}

header > .logo {
  height: 6rem;
}

header > .logo:hover {
  animation: wobble 0.7s ease;
  transition: transform 0.2s ease;
}

.section-links {
  position: fixed;
  inset: 0;
  gap: 6rem;
  list-style: none;
  background-color: var(--yellow-darker);
  z-index: 998;
}

.section-links a {
  font-size: var(--xxlText);
  text-decoration: none;
  color: white;
  font-family: var(--headingFont);
  padding: 0.8rem 1.6rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
  transition: color 0.1s ease;
}

.section-links .contacts {
  background-color: var(--primary);
  border-radius: 0.8rem;
}

.section-links a:hover,
.social-links i:hover {
  text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.51);
  color: #000;
}

.social-links {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  font-size: var(--xlText);
  gap: 3rem;
}

.social-links i {
  color: var(--primary-shade60);
}

header .hamburger-icon {
  position: fixed;
  top: 6rem;
  right: 3rem;
  transform: translate(0, -50%);
  font-size: var(--xxlText);
  color: #2d1211d3;
  z-index: 999;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* HERO */
.hero-section {
  background-color: var(--yellow-darker);
  gap: 2.4rem;
  height: calc(100vh - 60px);
}

.hero-section > h1 {
  display: inline-block;
  width: 46rem;
  color: white;
  letter-spacing: 5px;
  font-weight: 600;
}

.hero-section > p {
  font-size: 2.4rem;
  text-align: center;
  color: white;
  width: 40rem;
}

.hero-section > button {
  color: white;
  border: none;
  box-shadow: var(--shadow-2);
  background-color: transparent;
  padding: 0.8rem 1.8rem;
  text-decoration: none;
  font-family: var(--headingFont);
  font-size: var(--xlText);
  font-weight: 200;
}

.hero-section > button:hover {
  box-shadow: var();
}

/* ABOUT US SECTION */
.about-us-section {
  width: 100%;
}

.about-us-section > h1 {
  margin-bottom: 6.4rem;
}

.about-us-section > h1 > b {
  color: var(--primary);
}

.about-us-section img {
  max-width: 100%;
}

.about-us-section .flex-container {
  max-width: 100%;
}

.about-us-section .flex-container h2 {
  font-size: var(--xlText);
  letter-spacing: 5px;
  font-weight: 500;
  margin-top: 4.2rem;
  color: var(--primary-shade40);
}

.about-us-section .flex-container p {
  line-height: 2;
  font-size: 2.4rem;
  text-align: justify;
  margin-top: 2.4rem;
}

.about-us-section .flex-container a {
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--primary);
  font-family: var(--bodyFont);
  margin-top: 3rem;
}

/* OUR PRODUCTS SECTION */
.our-products-section {
  background-color: var(--grey-lighter);
}

.our-products-section > h1 {
  margin-bottom: 6.2rem;
}

.our-products-section > .grid-container {
  display: grid;
  justify-items: center;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.2rem;
  row-gap: 6rem;
}

.our-products-section .category-container {
  justify-content: start;
  gap: 1.2rem;
  width: 21rem;
}

.category-container h3 {
  margin: none;
  color: var(--primary);
  font-size: var(--mText);
  text-align: center;
  min-height: 4.2rem;
}

.category-container i {
  font-size: var(--lText);
  background-color: var(--yellow-lighter);
  padding: 0.8rem;
}

.category-container p {
  font-size: 1.2rem;
  text-align: justify;
}

/* SOCIAL ACTIVITY SECTION */

.activity-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.social-activity-section .flex-container {
  margin-top: 2.4rem;
}

.social-activity-section h1 {
  margin: 6.2rem 0;
}

.social-activity-section img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  object-position: center;
}

.social-activity-section .photo-filter::before {
  content: "Remia AUTENA";
  color: black;
  font-weight: 600;
  font-size: var(--mlText);
  font-family: var(--bodyFont);
  position: absolute;
  left: 0;
  top: 1.2rem;
  padding: 0.8rem 4.2rem;
  z-index: 20;
  background-image: linear-gradient(to right, #ffd000 45%, transparent);
}

.img-container {
  position: relative;
}

.photo-filter {
  position: absolute;
  inset: 0;
  background-color: #ffe70d2c;
  z-index: 1;
}

.social-activity-section h3 {
  padding: 1.6rem;
  font-size: var(--mText);
}

.social-activity-section p {
  padding: 1.6rem;
  padding-top: 0;
  text-align: justify;
}

/* FEEDBACK SECTION */
.feedback-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.2rem;
  background-color: var(--yellow-darker);
  color: white;
}

.feedback-section h1 {
  color: white;
  font-size: var(--lText);
  font-weight: 200;
}

.feedback-section p {
  font-weight: 300;
}

.feedback-section form {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-self: center;
}

form label {
  font-family: var(--headingFont);
  font-size: var(--mlText);
}

form input,
form textarea {
  border: none;
  margin: 0;
  margin-bottom: 1.6rem;
  font-family: var(--bodyFont);
  padding: 0.8rem;
}

form input {
  height: 3rem;
  font-size: var(--mText);
}

form textarea {
  height: 12rem;
}

form label[for="subscribe"] {
  display: flex;
  align-items: center;
  font-size: var(--xsText);
  gap: 1.2rem;
  margin: 1.6rem 0;
}

.subscribe-checkbox {
  margin: 0;
}

form button {
  border: none;
  font-family: var(--headingFont);
  font-size: var(--lText);
  color: white;
  padding: 0.8rem;
  font-weight: 500;
  background-color: rgba(36, 36, 36, 0.212);
}

form button:hover {
  background-color: rgba(36, 36, 36, 0.486);
}

/* FOOTER */

/* social links */
footer {
  background-color: var(--black);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 6rem;
}

footer .social-links-container {
  grid-column: 1/3;
}

footer .social-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

footer .pages {
  justify-self: start;
  text-align: left;
}

footer .pages ul {
  align-items: start;
}

footer .social-links i {
  color: var(--fontWhite);
  font-size: var(--xxlText);
}

/* time-and-location */
footer .time-and-location {
  color: var(--fontWhite);
  font-family: var(--bodyFont);
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: fit-content;
}

footer h3 {
  color: var(--fontWhite);
  font-size: var(--mlText);
  font-weight: 500;
}

footer .time-and-location h3 {
  grid-column: 1/3;
}

.time-and-location > .atributes p {
  margin-bottom: 0.6rem;
}

.time-and-location > .hours p {
  text-align: end;
  margin-bottom: 0.6rem;
  white-space: nowrap;
}

/* pages */
footer .footer-section-links {
  gap: 1.2rem;
  font-size: var(--mText);
}

footer a {
  text-decoration: none;
  color: var(--fontWhite);
  font-family: var(--bodyFont);
}

footer a:hover {
  color: white;
}

/* other info */
.contact-info h3 {
  margin-bottom: 1.8rem;
}

.contact-info i {
  color: var(--fontWhite);
  margin-right: 0.6rem;
  font-size: var(--mText);
}

.contact-info a {
  display: block;
  margin-bottom: 1.2rem;
  font-size: var(--mlText);
  white-space: nowrap;
}

.other-info label,
.other-info p {
  color: var(--fontWhite);
  font-family: var(--bodyFont);
  display: block;
}

.other-info p {
  margin-bottom: 1.8rem;
}

footer .divider {
  font-size: var(--sText);
  grid-column: 1/3;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.288);
}

footer .copyright {
  grid-column: 1/3;
  color: var(--fontWhite);
  text-align: center;
  font-family: var(--bodyFont);
}

/* BASE - 600px */
/* Media queries */
@media screen AND (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

@media screen AND (max-width: 400px) {
  html {
    font-size: 30%;
  }
}

@media screen AND (min-width: 700px) {
  header .section-links {
    position: static;
    display: flex !important;
    flex-direction: row;
    gap: 0.8rem;
    background-color: transparent;
  }
  .section-links a {
    color: var(--black);
    font-size: var(--mlText);
    white-space: nowrap;
  }

  .hamburger-icon {
    display: none;
  }

  .header-right {
    display: none;
  }

  header {
    padding-right: 2.4rem;
  }

  header .contacts {
    color: white;
  }

  /* HERO */
  .hero-section {
    gap: 0.8rem;
    background-image: url("media/IMG-1596-2-1536x1152.jpg");
    background-size: cover;
    background-position: 50%;
    position: relative;
  }

  .img-cover {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 179, 0, 0.63),
      rgba(0, 0, 0, 0.6)
    );
    z-index: 1;
  }

  .hero-section h1 {
    margin: 0.8rem;
    font-size: var(--lText);
    z-index: 2;
  }

  .hero-section p {
    z-index: 2;
  }

  .hero-section button {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.251);
  }

  .hero-section button:hover {
    background-color: rgba(0, 0, 0, 0.541);
  }

  /* ABOUT US */

  .about-us-section h1 {
    margin-top: 0;
    margin-bottom: 4.2rem;
  }

  .about-us-section .flex-container {
    width: 100%;
    flex-direction: row;
    gap: 3rem;
  }

  .about-us-section .img-container {
    flex: 1;
  }

  .about-us-section img {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 85%;
  }

  .about-us-section .text-container {
    flex: 1;
  }

  .about-us-section .img-border::after {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--yellow-darker) solid 4px;
    border-radius: 2px;
    transform: translate(-12px, -12px);
    z-index: -1;
  }

  .about-us-section .text-container h2 {
    margin-bottom: 2.4rem;
    margin-top: 0;
  }

  .about-us-section .text-container p,
  .about-us-section .text-container a {
    font-size: 1.6rem;
  }
  /* SOCIAL ACTIVITY */
  .activity-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  /* PRODUCTS */
  .our-products-section .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  /* ABOUT US */
  .about-us-section img {
    aspect-ratio: initial;
    object-fit: initial;
    object-position: initial;
  }

  .about-us-section .text-container p,
  .about-us-section .text-container a {
    font-size: 2.4rem;
  }
}

/* ANIMATIONS */
@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* LANDING PAGE STYLES ENDS HERE */

/* issues:
mobile responsiveness (when shinking removes background)

change footer style, structure

*/

/* optimizuoti, pvz h ir p elementus labai daug vietų */

/* CONTACTS STYLES STARTS HERE */
.section-contacts {
  background-color: var(--yellow-darker);
  color: white;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  i {
    font-size: 4rem;
    color: var(--primary);
    background-color: rgba(255, 255, 255, 0.504);
    width: 6rem;
    aspect-ratio: 1/1;
    border-radius: 12px;
    text-align: center;
    line-height: 6rem;
    margin-bottom: 1.8rem;
  }
  h3 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-shade40);
    display: inline-block;
  }
  a,
  .atributes > p,
  .hours > p {
    font-size: 3rem;
    text-decoration: none;
    color: var(--primary-shade40);
    font-weight: 600;
    font-family: "poppins", sans-serif;
    white-space: nowrap;
  }
  a:hover {
    cursor: pointer;
  }
}

.phone-numbers,
.address {
  gap: 1.2rem;
  width: 100%;
}

.section-contacts .phone-numbers,
.section-contacts .address {
  background-color: rgba(255, 255, 255, 0.234);
  padding: 2.4rem;
  border-radius: 10px;
}

.section-contacts .contact-us {
  width: 100%;
  gap: 4.2rem;
  h1 {
    color: white;
    font-size: 4.2rem;
  }
  p {
    text-align: center;
    font-size: var(--lText);
    line-height: 2;
    width: 100%;
  }
}
.section-contacts .phone-numbers {
  gap: 2.4rem;
}

.section-contacts .phone-numbers div {
  line-height: 1.5;
  color: var(--primary-shade40);
  i {
    font-size: 3rem;
    margin-right: 1.2rem;
    display: none;
  }
}

/* secondary info */
.time {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.234);
  padding: 2.4rem;
  border-radius: 10px;
  color: var(--primary-shade40);
  > h3 {
    display: block;
  }
  font-family: var(--bodyFont);
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    .hours p {
      text-align: end;
    }
  }
}

.other {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.234);
  padding: 2.4rem;
  border-radius: 10px;
  color: var(--primary-shade40);
  font-family: var(--bodyFont);
  > h3 {
    display: block;
  }
  ul {
    list-style: none;
  }

  li {
    font-size: 3rem;
    color: var(--primary-shade40);
    font-weight: 600;
    margin-top: 2.4rem;
  }
}

.section-map iframe {
  width: 100%;
}

/* MEADIA QUERIES*/
@media screen AND (min-width: 900px) {
  html {
    font-size: 45%;
  }
  .section-contacts {
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    column-gap: 6rem;
  }
  .section-contacts .time {
    grid-column: 2/3;
  }
}

@media screen AND (min-width: 1200px) {
  html {
    font-size: 60%;
  }
  .section-contacts {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    .phone-numbers,
    .address,
    .time,
    .other {
      h3,
      p,
      div,
      a,
      li {
        font-size: var(--mText);
      }
    }
    .contact-us {
      grid-column: 1 /-1;
      width: 60rem;
      justify-self: center;
    }
    .time {
      grid-column: 3/4;
    }
  }
}

@media screen AND (min-width: 1600px) {
  html {
    font-size: 90%;
  }
}
/* continue with grid layout */

/* fix ICONS backgrounds */
